{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <h1>{{name}}</h1>
        <div>
            {{#each users}}
            <hr>
            <div>id: {{id}}</div>
            <h2>{{name}}</h2>
            <div>gender: {{gender}}</div>
            <div>age: {{age}}</div>
            <br>
            <div>
                <h4>friends:</h4>
                <br>
                {{#each friends}}<br>
                <div>id: {{id}}</div>
                <h5>{{name}}</h5>
                <div>gender: {{gender}}</div>
                <div>age: {{age}}</div>
                <div>
                    <b>mutual friends:</b>
                    <br>
                    {{#each mutual_friends}}<br>
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    <br>
                    {{#each mutual_friends}}<br>
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    {{/each}}
                    {{/each}}
                    <br>
                    {{#if groups}}
                    <h4>groups:</h4>
                    {{#each groups}}
                    <div>id: {{id}}</div>
                    <div>name: <b>{{name}}</b></div>
                    <div>description: ({{description}})</div>
                    <div>
                        <b>members:</b>
                        {{#each members}}
                        <div>id: {{id}}</div>
                        <div>name: {{name}}</div>
                        <div>gender: {{gender}}</div>
                        <div>age: {{age}}</div>
                        <br>
                        {{/each}}
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <br>
            <div>{{#if groups}}
                <h4>groups:</h4>

                {{#each groups}}
                <div>id: {{id}}</div>
                <div>name: <b>{{name}}</b></div>
                <div>description: ({{description}})</div>
                <div>
                    <b>members:</b>
                    {{#each members}}
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    <br>
                    {{/each}}
                </div>
                {{/each}}
                {{/if}}
            </div>
            {{/each}}
        </div>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
