{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="p-5">
    <h1>JavaScript</h1>
    <br>
    <div>{{description}}</div>
    {{#with history}}
        <div>{{year}}</div><div>{{founder}}</div>
    {{/with}}
        
    <hr>
    <section>
        {{> title data='Types'}}
            <ul>
                {{#each types}}
                <ol>
                    {{this}}
                </ol>
                {{/each}}
            </ul>
    </section>
    
    <hr>
    <section>
    {{> title data='Syntax'}}
        <div>
            {{#with syntax}}
                <ul>
                    <div>{{variables}}</div><div>{{functions}}</div>
                    <div>{{conditionals}}</div><div>{{loops}}</div>
                    <div>{{classes}}</div>
                </ul>
            {{/with}}
        </div>
    </section>
    
    <hr>
    <section>
        {{> title data='Features'}}
            <ul>
                {{#each features}}
                <ol>
                    {{this}}
                </ol>
                {{/each}}
            </ul>
    </section>
    
    <hr>
    <section>
        {{> title data='Libraries'}}
            <ul>
                {{#each libraries}}
                <ol>
                    {{this}}
                </ol>
                {{/each}}
            </ul>
    </section>
    
    <hr>
    <section>
        {{> title data='Tools'}}
            <ul>
                {{#each tools}}
                <ol>
                    {{this}}
                </ol>
                {{/each}}
            </ul>
    </section>
    <hr>
    <section>
    {{> title data='Community'}}
        <div>
            {{#each community}}
                <ul>
                    <div>{{name}}</div><div>{{type}}</div>
                </ul>
            {{/each}}
        </div>
    </section>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
