{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="p-5">
    <h1><div>'Apple MacBook Pro'</div><div>'The ultimate notebook for power users'</div></h1>
    <h2><div>price: 1999.99,</div><div>category: 'Computers i Tablets'</div></h2>
    
    <hr>
    {{#with features}}
        <main>
        <section>
            {{#with processor}}
            <div><strong>Processor</strong></div>
            <div>brand: {{brand}}</div>
            <div>model: {{model}}</div>
            <div>speed: {{speed}}</div>
            <div>cores: {{cores}}</div>
            <div>cache: {{cache}}</div>
            {{/with}}
            <br>
            {{#with memory}}
            <div><strong>Memory</strong></div>
            <div>type: {{type}}</div>
            <div>size: {{size}}</div>
            <div>speed: {{speed}}</div>
            {{/with}}
            <br>
            {{#with storage}}
            <div><strong>Storage</strong></div>
            <div>type: {{type}}</div>
            <div>size: {{size}}</div>
            {{/with}}
            <br>
            {{#with sdiplay}}
            <div><strong>Sdiplay</strong></div>
            <div>resolution: {{resolution}}</div>
            <div>size: {{size}}</div>
            <div>technology: {{technology}}</div>
            <div>color_space: {{color_space}}</div>
            <div>brightness: {{brightness}}</div>
            <div>refresh_rate: {{refresh_rate}}</div>
            {{/with}}
            <br>
            {{#with graphics}}
            <div><strong>Graphics</strong></div>
            <div>brand: {{brand}}</div>
            <div>model: {{model}}</div>
            <div>memory: {{memory}}</div>
            {{/with}}
            <br>
            <hr>
            {{#each ports}}
                <div><strong>Ports</strong></div>
                <div>type: {{type}}</div><div>count: {{count}}</div>
                <ul><div>{{features}}</div></ul>
            {{/each}}
            <br>
            <hr>
            {{#with battery}}
            <div><strong>Battery</strong></div>
            <div>type: {{type}}</div>
            <div>capacity: {{capacity}}</div>
            <div>life: {{life}}</div>
            {{/with}}
            <br>
            <div>weight:{{weight}}</div>
            <br>
            {{#with dimensions}}
            <div><strong>Dimensions</strong></div>
            <div>height: {{height}}</div>
            <div>width: {{width}}</div>
            <div>depth: {{depth}}</div>
            {{/with}}
            <br>
            <div>operating_system:{{operating_system}}</div>
            <br>
            <ul>
                {{#each accessories}}
                    <li><div>name: {{name}}</div></li>
                    <li><div>price: {{price}}</div></li>
                {{/each}}
            </ul>
    {{/with}}
    </ul>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
