

<main class="p-5">
    <section>
        {{#with navigation}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="nav nav-tabs">
                        {{#each links}}
                        <div class="nav-item p-3">
                            <a href="{{href}}" class="nav-link">{{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>

    <hr>

    <section class="p-3">
        {{#with newsBlock}}
        <h1 class="text-center">{{title}}</h1>
        <div class="row">
            {{#each cards}}
            <div class="col-3">
                <div class="card alert alert-dark">
                    <div class="card-header">
                        <div class="card-title">{{title}}</div>
                        {{#if isTop}}
                        <button class="btn btn-success rounded-pill">Top</button>
                        {{/if}}
                        {{#if isNew}}
                        <button class="btn btn-danger rounded-pill">New</button>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr>

    <section class="p-3">
        {{#with goodsBlock}}
        <div class="row">
            <div class="col-12 m-3">
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class=" nav-item m-2">
                        <a href="#"
                            class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="row m-3">
                {{#each cards}}
                <div class="col-4 mt-3">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="#">
                        <div class="card-body">
                            <div class="card-title">{{title}}</div>
                            {{#if isHot}}
                            <button class="btn btn-success rounded-pill text-uppercase">Hot!</button>
                            {{/if}}
                            {{#if isNew}}
                            <button class="btn btn-danger rounded-pill">Нове</button>
                            {{/if}}
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <hr>

    <section>
        <div class="card alert alert-dark">
            {{#with subscribe}}
            <h2 class="text-light">{{header}}</h2>
            <p class="text-light my-3">{{description}}</p>
            {{#each buttons}}
            <div class="btn btn-primary col-2 my-1">
                <a href="{{link}}" class="nav-link">{{text}}</a>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </section>

    <hr>

    <section>
        <div class="card alert alert-success">
            {{#with service}}
            <div class="text-center text-light">
                <h2>{{title}}</h2>
                <p class="my-3">{{description}}</p>
                {{#each buttons}}
                <div class="btn btn-primary col-2 my-1">
                    <a href="{{link}}" class="nav-link">{{text}}</a>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </section>

    <hr>
    
    <section>
        <div class="row">
            {{#each footer}}
            <div class="col-2 list-group">
                <ul class="nav flex-column">
                    {{#each this}}
                    <li class="nav-item my-2">
                        <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}} list-item" target="_blank">
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </section>
</main>