

<main class="m-5">
    <header class="row mt-3">
        <div class="col-12">
            {{#with navigation}}
            <div class="card">
                <div class="card-body m-1">
                    <ul class="nav">
                        {{#each links}}
                        <li class="nav-item"><a href="{{href}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                            {{/each}}
                        </li>
                    </ul>
                </div>
            </div>
            {{/with}}
        </div>
    </header>

    <body>
        <div class="row">
            <div class="col-12 my-5">
                
                {{#with header}}
                <h1>{{title}}</h1>
                {{#with button}}
                <div class="mt-3">
                    <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                </div>
                {{/with}}
                {{/with}}
                <div class="my-3">
                    <hr>
                </div>
                
                <div class="my-3">
                    {{#each goodsBlock}}
                    <div class="card mb-3">
                        <div class="row">
                            <img src="{{image}}" class="col-2 ms-2 p-3" alt="image">
                            <div class="col-4 pt-3">
                                <h3 class="ms-1">{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                            <div class="col-2 mb-5 mt-5 ms-5">
                                <p>{{price.title}}</p>
                                <h5>{{price.value}}</h5>
                            </div>
                            <div class="col-1 ms-4 mt-5">
                                <p class="mt-3">{{amount}}</p>
                            </div>
                            <div class="col-2 mt-4">
                                {{#each buttons}}
                                {{#if isPrimary}}<button class="btn btn-primary btn-lg m-2 mt-3">{{text}}</button>{{/if}}
                                {{#if isDanger}}<button class="btn btn-outline-danger btn-lg m-2 mt-3">{{text}}</button>{{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="my-3">
                    <hr>
                </div>
                
                <div class="my-3">
                    {{#with total}}
                    <h5>{{title}}</h5>
                    <strong>{{amount}}</strong>
                    <p>{{delivery}}</p>
                    {{#each buttons}}
                    <div>
                        {{#if isSuccess}}<a href="{{link}}" class="btn btn-success m-2 mt-3">{{text}}</a>{{/if}}
                    </div>
                    <div>
                        {{#if isOutline}}<a href="{{link}}" class="btn btn-outline-success m-2 mt-3">{{text}}</a>{{/if}}
                    </div>
                    {{/each}}
                    {{/with}}
                </div>
                <div class="my-4">
                    <hr>
                </div>
                
                <div class="pt-5">
                    {{#with goodsOtherBlock}}
                    <h1 class="text-center">{{title}}</h1>
                    <div class="row my-5">
                        {{#each cards}}
                        <div class="col-4 mt-3">
                            <div class="card">
                                <img src="{{image}}" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <div class="my-2">
                                        <div class="card-title">{{title}}</div>
                                        {{#if isHot}}
                                        <button class="btn btn-sm btn-primary rounded-pill text-uppercase">Hot!</button>
                                        {{/if}}
                                        {{#if idNew}}
                                        <button class="btn btn-sm btn-warning rounded-pill">Нове</button>
                                        {{/if}}
                                    </div>
                                    <p class="card-text mt-3">{{description}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>
                <div class="my-4">
                    <hr>
                </div>
                
                <div class="card alert alert-dark mt-5">
                    {{#with subscribe}}
                    <h2 class="text-light">{{header}}</h2>
                    <p class="text-light my-3">{{description}}</p>
                    {{#each buttons}}
                    <div class="btn btn-primary col-2 my-1"><a href="{{link}}" class="nav-link">{{text}}</a></div>
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>

    </body>
    <div class="col-12 mt-3">
        <hr>
    </div>
    <footer>
        <div class="row">
            {{#each footer}}
            <div class="col-2 list-group">
                <ul class="nav flex-column">
                    {{#each this}}
                    <li class="nav-item my-1">
                        <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}} list-item" target="_blank">
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </footer>
</main>