

<main class="m-5">
    <header class="row mt-3">
        <div class="col-12">
            {{#with navigation}}
            <div class="card">
                <div class="card-body m-1">
                    <ul class="nav">
                        {{#each links}}
                        <li class="nav-item">
                            <a href="{{href}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                            {{/each}}
                        </li>
                    </ul>
                </div>
            </div>
            {{/with}}
        </div>
    </header>

    <h1 class="mb-5">{{header}}</h1>

    <div class="row">
        <div class="col-8">
            {{#with contacts_data}}
            <h2 class="mb-3">{{title}}</h2>
            {{#each buttons}}
            <button
                class="btn btn-lg {{#if isPrimary}}btn-warning text-light{{/if}} {{#if isOutline}}btn-outline-warning{{/if}} me-2">{{text}}</button>
            {{/each}}


            {{#with form}}
            {{#with input}}
            <div class="row mt-3">
                <div class="col-6 mb-3">
                    {{#with surname}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with name}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with phone}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with email}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            <hr class="mb-4">

            {{#each switch}}
            <div class="form-check form-switch my-3">
                <label class="form-check-label">{{text}}</label>
                <input type="checkbox" {{#if isActive}}checked{{/if}} class="form-check-input">
            </div>
            {{/each}}

            {{/with}}

            {{/with}} 

            <hr class="my-4">

            {{#with delivery}}
            <h2>{{title}}</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {{#each select}}
                        <div class="col-6">
                            <label class="form-label">{{label}}</label>
                            <select class="form-select">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{#each delivery_type}}
            <div class="form-check my-3">
                <label class="form-check-label">{{type}}</label>
                <input name="delivery" type="radio" class="form-check-input" {{#if @first}}checked{{/if}}>
            </div>
            {{/each}}


            <hr class="my-4">

            {{#with payment}}
            <h2>{{title}}</h2>
            {{#each list}}
            <div class="form-check my-3">
                <label class="form-check-label">{{type}}</label>
                <input name="payment" type="radio" class="form-check-input" {{#if @first}}checked{{/if}}>
                <div class="form-text">{{description}}</div>
            </div>
            {{/each}}
            {{/with}}

            <hr class="my-4">

            {{#with contact}}
            <h2>{{title}}</h2>
            <div class="row mt-3">
                <div class="col-6 mb-3">
                    {{#with surname}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with name}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with phone}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-6 mb-3">
                    {{#with email}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            <hr class="my-4">

            {{#with coment}}
            <label class="form-label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            {{/with}}

            <hr class="my-4">

            {{/with}}

            {{#with coupon}}
            <h2>{{title}}</h2>
            {{#with select}}
            {{#with availabel_coupon}}
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <select class="form-select form-select-lg">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{#with friend_coupon}}
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <select class="form-select form-select-sm">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{/with}}
            {{#with add}}
            <div class="mb-3">
                {{#with friend}}
                <label class="form-label">{{label}}</label>
                <input class="form-control form-control-lg" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
                {{/with}}
            </div>
            <div class="mb-3">
                {{#with colleague}}
                <label class="form-label">{{label}}</label>
                <input class="form-control form-control-sm" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
                {{/with}}
            </div>
            {{/with}}
            {{/with}}

            <hr class="my-4">

            {{#with quiz}}
            <h2 class="mb-3">{{title}}</h2>
            <div class="mb-3">
                {{#with preference}}
                <label class="form-label">{{title}}</label>
                {{#each options}}
                <div class="form-check mb-2">
                    <label class="form-check-label">{{this}}</label>
                    <input name="preference" type="radio" class="form-check-input" {{#if @first}}checked{{/if}}>
                </div>
                {{/each}}
                {{/with}}
            </div>

            <div class="mb-3">
                {{#with your_expirience}}
                <label class="form-label">{{label}}</label>
                <input class="form-control form-control">
                {{/with}}
            </div>


            <div class="mb-3">
                {{#with purchase_frequency}}
                <label class="form-label">{{label}}</label>
                <select class="form-select">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
                {{/with}}
            </div>

            <div class="mb-3">
                {{#with factors}}
                <label class="form-label">{{title}}</label>
                {{#each options}}
                <div class="form-check mb-2">
                    <label class="form-check-label">{{this}}</label>
                    <input name="factors" type="checkbox" class="form-check-input" {{#if @first}}checked{{/if}}>
                </div>
                {{/each}}
                {{/with}}
            </div>
            {{/with}}
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        {{#each action_block}}
                            <button type="button" class="btn my-2 {{#if isSuccess}}btn-success{{/if}} {{#if isDanger}}btn-danger{{/if}} {{#if isInfo}}btn-info{{/if}}">{{text}}</button>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{#with total}}
                <div class="card">
                    <h3 class="ms-3 mt-3">{{title}}</h3>
                    <div class="card-body">
                        {{#each item_list}}
                            <p>{{name}}: {{price}}</p>
                        {{/each}}
                    </div>
                    <hr>
                    {{#each additional_info}}
                        <p class="ms-3">{{text}}: {{value}}</p>
                    {{/each}}
                    <hr>
                    {{#with total_price}}
                        <p class="ms-3">{{text}}: {{value}}</p>
                    {{/with}}
                    <hr>
                    {{#each button}}
                        <button class="btn mx-4 my-2 {{#if isPrimary}}btn-primary{{/if}} {{#if isOutline}}btn-outline-primary{{/if}}">
                            {{text}}
                        </button>
                    {{/each}}
                </div>
            {{/with}}
        </div>
         <hr>
    <footer>
        <div class="row">
            {{#each footer}}
            <div class="col-2 list-group">
                <ul class="nav flex-column">
                    {{#each this}}
                    <li class="nav-item my-1">
                        <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}} list-item" target="_blank">
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </footer>
</main>