

<main class="m-5">
    {{#with heading}}
        <div class="card">
            <div class="card-body">
                {{#with main}}
                <div class="card">
                    <div class="card-body">
                    <h1 class='text-center'>{{title}}</h1>
                    <p class="text-muted">{{text}}</p>
                    {{#with button_text}}
                        <button class="btn btn-primary">{{solid}}</button>
                        <button class="btn btn-outline-primary">{{outline}}</button>
                    {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        <br>
            <div class="card-body">
                <div class="card-body">
                    {{#with second}}
                    <div class="card">
                        <div class="card-body">
                        <h2 class='text-center'>{{title}}</h2>
                        <p class="text-muted">{{text}}</p>
                            {{#with button_text}}
                                <button class="btn btn-secondary">{{solid}}</button>
                                <button class="btn btn-outline-secondary">{{outline}}</button>
                        {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        <br>
            <div class="card-body">
                <div class="card-body">
                    {{#with subblock}}
                    <div class="card">
                        <div class="card-body">
                        <h3 class='text-center'>{{title}}</h3>
                        <p class="text-muted">{{text}}</p>
                            {{#with button_text}}
                                <button class="btn btn-dark">{{solid}}</button>
                                <button class="btn btn-outline-dark">{{outline}}</button>
                        {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <hr>
    {{#with nested_display}}
        <div class="card">
            <div class="card-body">
                <div class='display-1 text-centr'>{{title}}</div>
                 <br>
                    {{#with children_display}}
                    <div class="card">
                        <div class="card-body">
                            <div class='display-4 text-centr'>{{title}}</div>
                            <p class="text-muted">{{text}}</p>
                            {{#with button}}
                                <button class="btn btn-outline-warning">{{text}}</button>
                            {{/with}}
                        </div>
                    </div>
                    <br>
                    {{/with}}
                    <div class='display-6'>{{header_text}}</div>
                            {{#with button}}
                                <button class="btn btn-info">{{text}}</button>
                            {{/with}}
            </div>
        </div>
    {{/with}}
    <br>
    <hr>
    {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <div><p class="text-uppercase">{{title}}</p></div>
                <div><p class="text-lowercase">{{text}}</p></div>
            </div>
            {{#with button}}
                <button class="btn btn-link">{{text}}</button>
            {{/with}}
        </div>
    {{/with}}
</main>