

<main>
    <section class="col-12">
            <div class="row-3">
                {{#with navigation}}
                <div class="col-9">
                    {{#each links}}
                        <div class="btn btn-link" href="{{href}}">{{text}}</div>
                    {{/each}}
                    {{#with button}}
                        <button class="btn btn-primary col-3" href="{{href}}">{{text}}</button>
                    {{/with}}
                </div>
                {{/with}}
            </div>
    </section>
    <hr>
    <section class="col-6">
        <div class="row-3">
            {{#with header}}
                <h1>{{title}}</h1>
                <p class="text-muted">{{description}}</p>
                <button class="btn btn-primary" href="{{link}}">
                    {{#with button}} 
                    {{text}} 
                    {{/with}}
                </button>
            {{/with}}
        </div>
    </section>
    <hr>
    <div>
        <h2>{{city.title}}</h2>
        <section class="row g-3">
            {{#each city.cards}}
            <div class="col-5">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="{{alt}}">
                    <h6 class="card-title">{{title}}</h6>
                    <p>{{description}}</p>
                    {{#with button}}
                    <div>
                        <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/each}}
        </section>
    </div>
    <hr>
    <section>
        {{#with winner}}
        <h2>{{title}}</h2>
        {{#with table}}
        <table class="table">
            <thead>
                <tr>{{#each head}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <th>{{place}}</th>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/with}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with gallery}}
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{name}}
                    </div>
                    <ul class="list-group">
                        {{#each items}}
                        <li class="list-group-item">
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with relaxion}}
        <div class="display-3">{{title}}</div>
        <div class="row g-3">
            {{#each cards}}
            <div class="col-5">
                <div class="card text-bg-secondary">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div class="card-body">
                        {{title}}
                        {{description}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        <div class="row g-3">
            {{#each rest.cards}}
            <div class="col-6 ">
                <div class="card text-center">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>

                        <a href="#" class="btn btn-primary">{{button}}</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        {{footer}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        </div>
    </section>
    <hr>
    <section>
        {{#with proposition}}
        <div class="display-2">{{title}}</div>
        <div class="row g-3">
            {{#each card}}
            <div class="col-5">
                <div class="card text-bg-warning">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        {{description}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with footer}}
        <h5>{{title}}</h5>
        <div class="row">
            <div class="col-4 list-group">
                {{#each navigation}}
                <a href="{{href}}" class="list-item" target="_blank">
                    <button class="btn btn-link">{{text}}</button>
                </a>
                <br>
                {{/each}}
            </div>
            <div class="col-4 list-group">
                {{#each socialMedia}}
                <a href="{{link}}" class="list-item" target="_blank">
                    <button class="btn btn-outline-dark">{{name}}</button>
                </a>
                <br>
                {{/each}}
            </div>
            <div class="col-4 list-group">
                {{#each partners}}
                <a href="{{link}}" class="list-item" target="_blank">
                    <button class="btn btn-outline-info">{{name}}</button>
                </a>
                <br>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>
</main>
    
</main>