

<main>
    {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <p class="text-muted text-uppercase text-center">{{description}}</p>
    {{/with}}
    <br>
    {{#with section}}
    <div class="card">
        <div class="card-body">
            {{#with about_us}}
                <div>
                    {{#with title_list}}
                        <div class="text-end display-6">{{main}}</div>
                        <div><h2 class="text-end">{{sub}}</h2></div>
                    {{/with}}
                    {{#with button}}
                    <button class="btn btn-outline-info">{{text}}</button>
                    {{/with}}
                </div>
            {{/with}}
        </div>
    </div>
    <br>
        {{#with advantage}}
            <div class="text-muted display-5">{{title}}</div>
            <br>
        <div class="card">
            <div class="card-body">
                {{#with efficiency}}
                    <div class="display-6">{{title}}</div>
                    <br>
                    <div><h6 class="text-muted">{{sub_title}}</h6></div>
                    <br>
                    <div><p class="text-muted">{{description}}</p></div>
                    <br>
                    <div><button class="btn btn-outline-warning">{{button}}</button></div>
                {{/with}}
             </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with innovation}}
                    <div class="display-6 text-center">{{title}}</div>
                    <br>
                    <div><h6 class="text-muted text-center">{{sub_title}}</h6></div>
                    <br>
                    <div><p class="text-muted text-center">{{description}}</p></div>
                    <br>
                    <div><button class="btn btn-outline-warning">{{button}}</button></div>
                {{/with}}
             </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with collaboration}}
                    <div class="display-6 text-end">{{title}}</div>
                    <br>
                    <div><h6 class="text-muted text-end">{{sub_title}}</h6></div>
                    <br>
                    <div><p class="text-muted text-end">{{description}}</p></div>
                    <br>
                    <div><button class="btn btn-outline-warning">{{button}}</button></div>
                {{/with}}
             </div>
        </div>
        {{/with}}
        <br>
        {{#with agreement}}
            <div class="text-muted display-5">{{title}}</div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with info}}
                        <div><h5>{{sub_title}}</h5></div>
                        {{#with detail}}
                            <div> <p class="text-muted">{{text}}</p></div>
                            <div><button class="btn btn-success">{{button}}</button></div>
                        {{/with}}
                    {{/with}}
                </div>
            </div>
        {{/with}}
    {{/with}}
    
</main>