{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="m-5">
   <h1>Web</h1>
<br>
<h2>Languages</h2>
<hr>
<div>
    {{#with web}}
    <div>
        {{#each languages}}
        <h3>{{name}}</h3>
        <div>{{version}}</div>
        <div>({{description}})</div>
        <br>
        <ul>
            <div>
                {{#each elements}}
                <li>
                    <div>{{name}}</div>
                    <div>({{description}})</div>
                    <div>attributes:
                        {{#each attributes}}
                        <div>{{name}}</div>
                        <div>({{description}})</div>
                        {{/each}}
                    </div>
                    <br>
                </li>
                {{/each}}
            </div>
        </ul>
        <div>
            {{#each properties}}
            <b>{{name}}</b>
            <div>({{description}})</div>
            <div>values:
                {{#each values}}
                <div>{{value}}</div>
                <div>({{description}})</div>
                {{/each}}
            </div>
            <br>
            {{/each}}
        </div>
        <div>
            {{#each functions}}
            <br>
            <b>{{name}}</b>
            <div>({{description}})</div>
            <div>parameters:
                {{#each parameters}}
                <div>{{parameters}}</div>
                <div>{{type}}</div>
                <div>({{description}})</div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
